nav {
    text-align: center;
    background-color: grey;
}
nav a{   
    text-decoration: none;
    margin:10px;
    padding :50;
}
.block a{
   display:inline-block ;
   background-color: lightblue;
   width:100px;
   height:50px;
   margin: 5px;
   text-decoration:none;
}
.block1 a{
    display:inline-block ;
   background-color: lightgreen;`
   margin:10px;
    width:100px;
    height:50px;
    text-decoration:none;
}
  
   
